html {
	font-size: 16px;
}

body {
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	height: 100dvh;
	background-color: var(--primary-color);
	color: var(--font-color);
}

img {
	width: 100%;
}

li {
	list-style: none;
}

button:hover {
	cursor: pointer;
}

button {
	background-color: transparent;
	border: none;
}

.hidden {
	display: none;
}

.header {
	width: 100%;	
}

.grid-progress {
	grid-area: progress-view;
}

.grid-map {
	grid-area: map;
}

.grid-workouts {
	grid-area: workout-list;
}

.grid-wrapper {
	display: grid;
	grid-template-areas: 
		'progress-view'
		'map'
		'workout-list';
}

@media screen and (min-width: 992px) {
	body {
		background-color: var(--secondary-color);
	}
	.grid-wrapper {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: 
			'progress-view map map workout-list';
		height: 100dvh;
	}
}