html {
	font-size: 16px;
}

body {
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	height: 100dvh;
	background-color: var(--secondary-color);
	color: var(--font-color);
}

.overflow-wrapper {
	max-width: 100dvw;
}

.hidden {
	display: none;
}

.header {
	width: 100%;	
}

.grid-progress {
	grid-area: progress-view;
}

.grid-map {
	grid-area: map;
}

.grid-workouts {
	grid-area: workout-list;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: 
		'progress-view map map workout-list';	
}

@media screen and (max-width: 992px) {
	body {
		background-color: var(--primary-color);
	}
	.grid-wrapper {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas: 
		'progress-view'
		'map'
		'workout-list';
	}
}