:root {

	/* ------------ COLORS ----------- */
	--primary-color: #5D63D1;
	--primary-color-lighter: #F3F7FF;
	--secondary-color: #FFFFFF;
	--secondary-color-light: #F2F2F2;
	--font-color-dark: #333333;
	--font-color-light: #ffffff;



}