:root {

	/* ------------ COLORS ----------- */
	--primary-color: #5D63D1;
	--primary-color-lighter: #F3F7FF;
	--primary-color-low-opacity: rgba(93, 99, 209, 0.1);
	--secondary-color: #FFFFFF;
	--secondary-color-light: #F2F2F2;

	--workout: #8B90F9;
	--running: #D15D60;
	--cycling: #5DD1CB;
	--font-color-dark: #333333;
	--font-color-light: #ffffff;



}