.header {
	padding: 0.5rem 1rem;
	background-color: var(--primary-color);
	display: flex;
	justify-content: flex-start;
}

.logo img {
	height: 2rem;
	object-fit: contain;
}

@media screen and (max-width: 992px) {
	.header {
		position: absolute;
		width: 3rem;
		right: 1rem;
		top: 2rem;
		padding: 0;
	}
}
