.header {
	padding: 0.25rem 1rem;
	background-color: var(--primary-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.logo img {
	height: 2rem;
	object-fit: contain;
}

.error-box {
	display: none;
	width: 100%;
	justify-content: center;
	text-align: center;
	color: var(--font-color-light);
	position: relative;
	margin: 0 1rem;
	align-items: center;
}

.error-box__close-button {
	border: 1px solid var(--font-color-light);
	padding: 0.25rem 0.5rem;
	color: var(--font-color-light);
	position: absolute;
	right: 1rem;
}

.error-box__close-button:hover {
	text-decoration: underline;
}

.error {
	background-color: var(--error-box);
}

@media screen and (max-width: 992px) {
	.header {
		position: absolute;
		width: 3rem;
		right: 1rem;
		top: 2rem;
		padding: 0;
	}
}
