#map {
	height: 100dvh;
	/* width: 100%; */
}

.mapboxgl-popup-content {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-radius: var(--border-radius-section);
}


.mapboxgl-popup-close-button {
	color: var(--secondary-color);
	right: 4px;
	top: 1px;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
	border-top-color: var(--primary-color);
	margin-bottom: 1.25rem;
}

 .running-popup .mapboxgl-popup-content {
	border-left: var(--border-radius-section) solid var(--running);
}

.cycling-popup .mapboxgl-popup-content {
	border-left: var(--border-radius-section)solid var(--cycling);
}

@media screen and (max-width: 992px) {
	#map {
		height: 70vh;
		max-width: 850px;
		margin: 0 auto;
		border: 1rem solid var(--primary-color);
	}
}