.grid-progress {
	padding: 0 1rem;
}

.user {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}
.user__image {
	width: 80px;
	object-fit:cover;
	border-radius: 50%;
}

.weekly-goal, .daily-activities, .total-progress {
	box-shadow: 0 4px 28px rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	margin-bottom: 1rem;
	border: var(--border-radius-button) solid var(--primary-color-low-opacity);
}

.weekly-goal {
	padding: 1rem;
	position: relative;
}

.weekly-goal__goal {
	font-weight: 600;
}

.weekly-goal__input {
	color: var(--primary-color);
	width: 2.5rem;
	font-size: 1rem;
}

.weekly-goal__km {
	color: var(--primary-color);
}

.weekly-goal__submit-button {
	display: block;
	background: var(--primary-color);
	color: var(--font-color-light);
	position: absolute;
	right: 1rem;
	top: 1rem;
	font-size: 0.75rem;
	padding: 0.25rem 1rem;
	border-radius: var(--border-radius-button);
	transition: all 0.4s ease;
}

.weekly-goal__progress-info {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.weekly-goal__progress-bar {
	height: 0.5rem;
	border-radius: var(--border-radius-section);
	background-color: var(--secondary-color-light);
}

.weekly-goal__progress-bar--bar {
	height: 100%;
	border-radius: var(--border-radius-section);
	background-color: var(--primary-color);
	width: 0;
	max-width: 100%;
	transition: 1s ease 0.3s;
}
.daily-activities {
	padding-bottom: 1rem;
}

.daily-activities-tab {
	display: flex;
	justify-content: space-between;
}

.daily-activities__running-tab, .daily-activities__cycling-tab {
	width: 100%;
	padding: 0.5rem;
}

.daily-activities-tab--inactive {
	background-color: var(--secondary-color-light);
}

.daily-activities__tab-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.daily-activities__tab-content.hidden {
	display: none;
}
.daily-activities__tab-content--span {
	color: var(--primary-color);
	padding-bottom: 1rem;
}

.daily-activities__icon {
	height: 2rem;
}

.daily-activities__running-statistic {
	padding: 1rem;
	display: flex;
	gap: 0.75rem;
}

.daily-activities__bar-container {
	width: 0.5rem;
	height: 7.5rem;
	position: relative;
}

.daily-activities__bar {
	background-color: var(--primary-color);
	border-radius: var(--border-radius-section) var(--border-radius-section) 0 0;
	height: 1%;
	width: 100%;
	max-height: 100%;
	position: absolute;
	bottom: 0;
	transition: 1s ease 0.3s;
}

.daily-activities__bar--day {
	position: absolute;
	font-size: 0.75rem;
	bottom: -1rem;
}

.total-progress {
	padding: 1rem;
}

.total-progress__title {
	padding: 1rem 0;
	font-weight: 600;
}

.total-progress__stats {
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	border-radius: 0.5rem;
	background-color: var(--primary-color-lighter);
	border: var(--border-small) solid var(--primary-color-low-opacity);
}

.total-progress__stats--distance, .total-progress__stats--time {
	display: flex;
	align-items: center;
}

.total-progress__stats-divider {
	height: 2.5rem;
	width: 1px;
	background-color: var(--font-color-dark);
	opacity: 0.1;
}
.total-progress__stats--icon {
	height: 2.5rem;
}

@media screen and (max-width: 992px) {
	.daily-activities, .total-progress {
		display: none;
	}

	.user {
		color: var(--secondary-color);
	}

	.user__image {
		height: 3rem;
		width: 3rem;
	}

	.grid-progress {
		background-color: var(--primary-color);
	}

	.weekly-goal {
		background-color: var(--secondary-color);
		max-width: 450px;
		margin: 0 auto 1rem;
	}

}

