.grid-workouts {
	background-color: var(--primary-color);
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.workouts {
	overflow-y: scroll;
	overflow-x: hidden;
	color: var(--font-color-light);
}

.workout {
	background-color: var(--workout);
	border-radius: 5px;
	padding: 1rem 2rem;
	margin-bottom: 1.5rem;
	cursor: pointer;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.5rem 1rem;
}

.workout--running {
	border-left: 5px solid var(--running);
 }

.workout--cycling {
	border-left: 5px solid var(--cycling);
 }

 .workout__title {
	font-size: 1.5rem;
	font-weight: 600;
	grid-column: 1 / -1;
 }

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
	font-size: 1rem;
	margin-right: 0.2rem;
 }

 .workout__value {
	font-size: 1rem;
	margin-right: 0.5rem;
 }

 .workout__unit {
	font-size: 0.9rem;
	color: var(--secondary-color-light);
	text-transform: uppercase;
 }